section {
  max-width: 95%;
  margin: 0 auto;
  img {
    max-height: 200px;
    display: block;
    margin: 0 auto;
  }
  .title {
    float: left;
    margin: 0;
    padding: 0;
  }
  .ep-title {
    margin: 0;
    padding: 0;
  }
  .description {
    clear: both;
  }
}