section {
  max-width: 95%;
  margin: 0 auto;
  img {
    max-height: 200px;
    display: block;
    margin: 0 auto;
  }
  .title {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .description {
    line-height: 24px;
  }
}
